
.contact{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }
  .contact a{
    background-color: #ffffff;
    width: auto;
    height: auto;
    text-decoration: none;
    font-family: 'Major Mono Display', monospace;
    font-size: 17px;
    font-weight: bold;
    color: var(--black);
    padding: 1%;
    border: 1px solid var(--black);
    text-align: center;
    border-radius: 5px;
  }
  .contact a:hover{
    color: var(--white);
    background-color: var(--black);
  }