@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
p,a{
    font-family: 'Audiowide', cursive;
}
footer{
    text-align: center;
    display: flex;
    
}
a{
    margin-left: 5%;
}