appdirs==1.4.4
asgiref==3.3.4
astroid==2.4.2
beautifulsoup4==4.9.3
certifi==2020.11.8
chardet==3.0.4
click==8.0.1
colorama==0.4.4
distlib==0.3.2
Django==3.2.4
django-cors-headers==3.14.0
django-cors-middleware==1.5.0
env==0.1.0
filelock==3.0.12
Flask==2.0.1
Flask-WTF==0.15.1
idna==2.10
isort==5.6.4
itsdangerous==2.0.1
Jinja2==3.0.1
keyboard==0.13.5
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
mccabe==0.6.1
numpy==1.24.2
opencv-python==4.7.0.72
packaging==23.0
Pillow==9.4.0
pipenv==2021.5.29
PyAudio @ file:///C:/Users/shahu_v25wi1b/Downloads/PyAudio-0.2.11-cp38-cp38-win_amd64.whl
pylint==2.6.0
PyPDF2==1.26.0
pypiwin32==223
pytesseract==0.3.10
pyttsx3==2.7
pytz==2021.1
pywin32==228
requests==2.25.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.1
virtualenv==20.4.7
virtualenv-clone==0.5.4
Werkzeug==2.0.1
wikipedia==1.4.0
wrapt==1.12.1
WTForms==2.3.3
