@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Orbitron:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
.contact
{
    position: relative;
}


.contact .content p
{
  text-align: center;
  font-family: 'Major Mono Display', monospace;
    color: #000000;
    font-size: 26px;
    font-weight: 300;
    padding-top: 5%;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}


.container .contactForm
{
    position: relative;
    width: 40%;
    min-height: 500px;
    padding: 60px;
}
.container .contactForm h2
{
  font-family: 'Major Mono Display', monospace;
    font-size: 27px;
    color: #333;
    text-align: left;
    font-weight: bolder;
}
.container .contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.container .contactForm .inputBox input,
.container .contactForm .inputBox textarea
{
    width: 80%;
    padding: 5px 0;
    font-size: 14px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;

}
.container .contactForm .inputBox span
{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 14px;
    font-weight: bolder;
    color: #666;
    transform: 0.5s;
    font-family: 'Major Mono Display', monospace;

}
.container .contactForm .inputBox input:valid ~ span,
.container .contactForm .inputBox input:focus ~ span,
.container .contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 0.9em;
    transform: translateY(-20px);
}
.submit{
  background-color: #000; 
  width: auto;
  height: auto;
  padding: 2%;
  color: var(--white);
  font-family: 'Major Mono Display', monospace;
  cursor: pointer;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius:5px;
  margin-top: 4%;
}

.submit:hover{
  background-color: var(--white);
  color: var(--black);
  font-weight: bolder;
  border: 1px solid var(--black);
}
.social h2{
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  font-size: 21px;
  font-weight: bolder;
  margin-top: -10%;
}
.social-icon{
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
.social-icon a{
  background-color: #ffffff;
  width: auto;
  height: auto;
  padding: 1%;
  font-size: 27px;
  color: rgb(0, 0, 0);
  border-radius: 5px;

}
.social-icon a:nth-child(1):hover{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
        
          background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-size: 27px;
}
.social-icon a:nth-child(2):hover {
  color: #4267B2;
}
.social-icon a:nth-child(3):hover{
  color: #FF0000;
}
.social-icon a:nth-child(4):hover{
  color: #1DA1F2;
}
@media (max-width:600px) {

    .contact{
        position: relative;
        margin-top: 10%;
      }
      
      .contact .content p
      { 
      font-family: 'Major Mono Display', monospace;
        color: #000000;
        font-size: 14px;
        font-weight: 600;
        padding-top: 5%;
      }
      
      .container
      {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        
      }
      
      
      .container .contactForm
      {
        
        position: relative;
        width: 100%;
        padding: 60px;
        margin-left: 0%;
      }
      .container .contactForm h2
      {
      font-family: 'Major Mono Display', monospace;
        font-size: 18px;
        color: #333;
        text-align: left;
        font-weight: bolder;
      }
      .container .contactForm .inputBox
      {
        position: relative;
        width: 100%;
        margin-top: 20px;
      }
      .container .contactForm .inputBox input,
      .container .contactForm .inputBox textarea
      {
        width: 100%;
        padding: 5px 0;
        font-size: 11px;
        margin: 15px 0;
        border: none;
        border-bottom: 2px solid #333;
        outline: none;
        resize: none;
      
      }
      .container .contactForm .inputBox span
      {
        position: absolute;
        left: 0;
        pointer-events: none;
        padding: 5px 0;
        margin: 10px 0;
        font-size: 11px;
        font-weight: bolder;
        color: #666;
        transform: 0.5s;
        font-family: 'Major Mono Display', monospace;
      
      }
      .container .contactForm .inputBox input:valid ~ span,
      .container .contactForm .inputBox input:focus ~ span,
      .container .contactForm .inputBox textarea:valid ~ span
      {
        color: #e91e63;
        font-size: 0.9em;
        transform: translateY(-20px);
      }
      .submit{
      background-color: #000; 
      width: auto;
      height: auto;
      padding: 2.5%;
      color: var(--white);
      font-family: 'Major Mono Display', monospace;
      cursor: pointer;
      font-weight: 600;
      border: none;
      outline: none;
      border-radius:5px;
      margin-top: 4%;
      }
      
      .submit:hover{
      background-color: var(--white);
      color: var(--black);
      font-weight: bolder;
      border: 1px solid var(--black);
      }
      
      .social h2{
        text-align: center;
        font-family: 'Major Mono Display', monospace;
        font-size: 14px;
        font-weight: bolder;
        margin-top: -50%;
      }
      .social-icon{
        margin-top: 5%;
        display: flex;
        justify-content: space-evenly;
      }
      .social-icon a{
        background-color: #ffffff;
        width: auto;
        height: auto;
        padding: 0.5%;
        font-size: 20px;
        color: rgb(0, 0, 0);
        border-radius: 5px;
      
      }
      .social-icon a:nth-child(1):hover{
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        -webkit-background-clip: text;
              
                background-clip: text;
        -webkit-text-fill-color: transparent;
        
        font-size: 27px;
      }
      .social-icon a:nth-child(2):hover {
        color: #4267B2;
      }
      .social-icon a:nth-child(3):hover{
        color: #FF0000;
      }
      .social-icon a:nth-child(4):hover{
        color: #1DA1F2;
      }
      
}