
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Orbitron:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
*{
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
}


:root {
    --orange: #EDCFA9;
    --white: #ffffff;
    --black: #000
}
a{
  color: #000;
}
body { background-color: var(--white); 
overflow-x: hidden;
}
.logo{
display: flex;
}
.logo p{
font-family: 'Audiowide', cursive;
font-weight: bolder;
font-size: 20px;
padding-left: 2%;
}
.logo span{
  width: 2px;
  height: 45px;
  background-color: #c56900;
  margin-left: 3px;
  margin-right: 3px;
}

.ddiq p{
  background-color: #ffffff;
  font-family: sans-serif;
  line-height: 12px;
  font-size: 10px;
}
.nav {
  height: 50px;
  width: 100%;
  position: relative;
}

.active{
position: relative;
display: inline-block;
text-decoration: none;
color: #000000;
}
.active::before,
.active::after{
content: '';
position: absolute;
left: 0%;
width: 100%;
height: 2px;
background-color: rgb(0, 0, 0);
transform: scaleX(0);
transition: transform .25s;
}

.active::before{
top: -1px;
transform-origin: left;
}

.active::after{
bottom: 10px;
transform-origin: right;
}

.active:hover::before,
.active:hover::after{
transform: scaleX(1);
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  font-size: 18px;
  justify-content: right;

}

.nav > .nav-links > a {  
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  font-family: 'Audiowide', cursive;
  text-align: center;
  margin-right: 5%;
  margin-top: -2.5%;
  font-weight: bold;
}


.nav > #nav-check {
  display: none;
}
 
.location-map{
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
}
.visit-text{
  margin-top: 15%;
}
.visit-text span{
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  font-size: 40px;
}

.iframe iframe{
  width: 600px;
  height: 450px;
}

.iframe{
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  font-size: 18px;
  font-weight: bolder;
}
@media (max-width: 991px)
{
    .contact
    {
    padding: 50px;
    }
    .container
    {
    flex-direction: column;
    }
    .container .contactInfo,
    .container .contactForm
    {
      width: 100%;
    }
    .container .contactForm
    {
        padding: 50px 30px;
    }
}
@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
 
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 8px;
    border-top: 2px solid #000000;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #000000;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 40px;
    left: 0px;
    text-align: center;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    color: #fff7f7;
    margin-top: 10%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  .active{
      position: relative;
      display: inline-block;
      text-decoration: none;
      color: #000000;
  }
  .active::before,
  .active::after{
      content: '';
      position: absolute;
      top: 15%;
      width: 2px;
      height: 80%;
      background-color: rgb(255, 255, 255);
      transform: scaleY(0);
      transition: transform .50s;
      margin-left: 25%;
  }
  
  .active::before{
      left: 49%;
      transform-origin: bottom;
  }
  
  .active::after{
      right: 10%;
      transform-origin: top;
  }
  
  .active:hover::before,
  .active:hover::after{
      transform: scaleY(1);
  }

  .logo{
    display: flex;
  }
  .logo p{
      font-family: 'Audiowide', cursive;
    font-weight: bolder;
    font-size: 17px;
  }
    .logo span{
      width: 2px;
      height: 40px;
      background-color: #c56900;
    }
  
    .ddiq p{
      background-color: #ffffff;
      font-family: sans-serif;
      line-height: 10px;
      font-size: 10px;
    }

    .location-map{
      flex-direction: column;
      padding-top: 5%;
    }
    .visit-text{
      margin-top: 5%;
      text-align: center;
    }
    .visit-text span{
      text-align: center;
      font-family: 'Major Mono Display', monospace;
      font-size: 28px;
    }
    
    .iframe iframe{
      margin-top: 5%;
      width: 320px;
      height: 500px;
      text-align: center;
      font-family: 'Major Mono Display', monospace;
      font-size: 18px;
      font-weight: bolder;
      display: flex;
      justify-content: center;
    }
    .iframe span{
      margin: 0 auto;
      width: 300px;
      height: 500px;
      text-align: center;
      font-family: 'Major Mono Display', monospace;
      font-size: 18px;
      font-weight: bolder;
      display: flex;
      justify-content: center;
      margin-left: 1.5%;
    }
}
