{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    </head>
<body>

  {% include "menu.html"%}

    </div>


      <div class="home">
        <div class="header">
          <p><span class="we-shape">we shape </span><br><span class="your">your </span> 
            <span class="house-text">house</span><br><span class="into-a">into a </span><br>
            <span class="home-text">home</span></p>
             </div>
        <div class="background">
          {% for x in cover%}
          <img src="{{ x.cover.url}}" alt="">
          {% endfor %}
        </div>
      </div>
      <div class="h1">
        <h2>"Our interior designs are not just beautiful, they are also practical and designed to suit your lifestyle."</h2>
      </div>
      <div class="slideshow-container">
        {% for x in slides%}
        <div class="mySlides fade">
          
          <img src="{{x.cover.url}}" style="width:100%">
          <div class="text">{{x.title}}</div>
        </div>
      {% endfor%}
      </div>
        <br>
        
        <div style="text-align:center">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div>
      <div class="recents">
        <h1>our recents</h1>
        
        {% for x in pics %}
        <div class="recent1">
          
          <div class="recent-img1">

              <img src="{{ x.cover.url }}"  class="image" alt="">
              <div class="middle">
                <div class="text1" >{{x.title}}</div>
              </div>
          </div>
          
          <div class="recent-location">
            <p>"a well-designed room should tell a story,<br> evoke an emotion, and create a sense of harmony."</p>
          </div>
        </div>
        {% endfor%}
        
      {% include "footer-contact.html"%}
{% include "side.html"%}
{% include "footer.html"%}

    <script src="{% static 'script.js' %}"></script>
    <script>
      let slideIndex = 0;
      showSlides();
      
      function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}    
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active-slide", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active-slide";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
      }
      </script>
</body>
</html>